.aboutme {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  width: 80%;
  margin: auto;
}

.description h2 {
  text-align: center;
}

.image img {
  margin: 10px 0;
  width: 80%;
}

@media (min-width: 700px) {
  .aboutme {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .description {
    flex: 0.6;
  }

  .description h2 {
    margin-bottom: 1em;
  }

  .image {
    flex: 0.3;
  }
  .image img {
    width: 100%;
  }
}
