.form {
  width: 70%;
  margin: auto;
  border: 1px solid;
  padding: 20px;
}

.form form {
  margin: 30px 0;
}

.form__button {
  border: none;
  display: block;
  color: white;
  background-color: brown;
  padding: 10px;
  outline: none;
}

.form__button :disabled {
  background-color: gray;
  color: gray;
}

.switchButton {
  background-color: white;
  border: none;
  color: blue;
  display: block;
  margin: 30px 0;
  outline: none;
}
