.sidemenu {
  position: fixed;
  width: 200px;
  height: 50%;
  z-index: 100;
  background-color: white;
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.sidemenu__header {
  position: relative;
}

.sidemenu__cross {
  color: gray !important;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.sidemenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidemenu ul li {
  margin: 1em;
  transition: background-color 0.3s ease;
}
.sidemenu ul li:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.sidemenu ul li a {
  text-decoration: none;
  color: gray;
  font-size: 0.9rem;
}

.close {
  transform: translateX(-100%);
  border-radius: 50%;
}

@media (min-width: 550px) {
  .sidemenu {
    display: none;
  }
}
