.singletshirt {
  width: 100%;
  color: black;
}

.singletshirt img {
  width: 100%;
}

.singletshirt:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: none;
}

@media (max-width: 700px) {
  .singletshirt h5 {
    font-size: 0.8rem;
  }

  .singletshirt p {
    font-size: 0.8rem;
  }
}
